
.header {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: $background;
    color: $text-color;

    &__title {
        font-size: 4em;
        height: 80vh;
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
    }

    &__scroll {
        font-size: 1em;

        &__carot {
            position: relative;
            height: 50px;
            width: 50px;
            margin: auto;
            span {
                position: absolute;
                background-color: $text-color;
                width: 50px;
                height: 5px;
                border-radius: 2px;
                left: 50%;
                top: 50%;
            }
            span:nth-child(1) {
                transform: rotate(-45deg) translate(0px, -20px);
            }
            span:nth-child(2) {
                transform: translate(-100%, -15px) rotate(45deg);
            }
        }
    }
}