@import "variables";
@import "header";
@import "section";
@import "experimentone";
@import "experimenttwo";
@import "quiz";

html, body { 
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: $background;
    background-color: $text-color;
}

.wrapper {
    display: flex;
    flex-direction: column;
}


.btn-default {
    padding: 10px;
    width: 200px;
    text-align: center;
    border: none;
    border-radius: 25px;
    background-color: $background;
    color: $text-color;
    font-size: 1.2em;

    &:hover {
        cursor: pointer;
    }
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 30px;
    align-items: center;
    background-color: $background;
    color: $text-color;
    padding: 0px 20px;

    a {
        text-decoration: none;
        color: $text-color
    }
}
